# src: ./.github/workflows/ci-scan-all.yml
# @(#) : Caller workflow for all linting and scanning in .github repository
#
# Copyright (c) 2025 atsushifx <https://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

name: Renovate Config Validator

on:
  pull_request:
    paths:
      - ".renovaterc.json"
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10

    steps:
      # Check out the repository
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      # Set up Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "22"

      # Run Renovate config validation
      - name: Validate Renovate Config
        run: |
          npx --yes --package renovate -- renovate-config-validator --strict .renovaterc.json
